<h1>Bienvenido a tu area privada, {{user.username}}</h1>

<h2>Hoteles guardados en Favoritos</h2>

{{#each userHotels}}
<article class="destino">
  <h3>{{name}}</h3>
  <h5>Descripción:</h5>
  <p>{{description}}</p>
  <h5>Puntuación:</h5>
  <p>{{score}}</p>
  <p class="space-buttons"><a role="button" class="btn btn-outline-dark" href="{{urlBooking}}" target="_blank">Reserva
      ya</a></p>
  <p class="space-buttons"><a role="button" href="/private/{{_id}}/delete" class="btn btn-outline-dark">Quitar de
      favoritos</a></p>
</article>
{{/each}}


<style>
  body {
    background-image: url(https://res.cloudinary.com/ebg-ester/image/upload/v1565281154/background.jpg);
    background-position: center;
    background-size: 100% 100%;
    height: -webkit-fill-available;
    background-attachment: fixed;

  }
</style>