<h1>Informaci칩n Destino</h1>

       {{#each hotels}}
      
      <p>Nombre Hotel: {{name}}</p>
      <p>Descripci칩n: {{intro}}</p>
      <p>Puntuaci칩n: {{score}}</p>
      <p> <a href="{{booking_info.vendor_object_url}}" target="_blank">Reserva ya</a> </p>
    
      

      

<form action="/info/:id" method="post">
  <input class="hidden" name="name" type="text" id="name-input" value="{{name}}">
  <input class="hidden" name="description" type="text" id="description-input" value="{{intro}}">
  <input class="hidden" name="score" type="text" id="score-input" value="{{score}}">
  <input class="hidden" name="urlBooking" type="text" id="urlBooking-input" value="{{booking_info.vendor_object_url}}">
  <input class="hidden" name="owner" type="text" id="owner-input" value="{{../user.username}}">

<button type="submit">A침adir a favoritos</button>

</form>
{{/each}}