<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400&display=swap" rel="stylesheet">
</head>


<body>
  <nav>
    <div class="nav-title">
      <a href="/">
        <h1 class="nav-icon">{{title}}</h1>
      </a>
    </div>
    <div class="nav-right">
      <div><a class="nav-item nav-link active" href="/">Inicio</a></div>
      {{#if user}}
      <div><a class="nav-item nav-link active">Hola {{user.username}}</a></div>
      <div><a class="nav-item nav-link active" href="/private">Mi perfil</a></div>
      {{else}}
      <div><a class="nav-item nav-link active" href="/login">Iniciar Sesión</a></div>
      <div><a class="nav-item nav-link active" href="/signup">Crear cuenta</a></div>
      {{/if}}
      <div><a class="nav-item nav-link active" href="/logout">Cerrar sesión</a></div>
    </div>
  </nav>
<main>
  {{{body}}}
</main>
  <script src="/javascripts/script.js"></script>
</body>

</html>